.lbl {
  top: 6px;
  position: relative;
  display: block;
  height: 16px;
  width: 36px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

.cbx:checked ~ label { background: #00695c; }

.cbx:checked ~ label:after {
  left: 16px;
  background: #2BBBAD;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after { background: #bcbdbc; }

.hidden { display: none; }